* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background: rgb(255 240 240);;

  
}

header {
  background-image: url(./img/LOGO-SERVICE-MONTADO.svg);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -25px;
}

/* h1 {
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,0.5578606442577031) 100%);
} */


.main-title {
  text-align: center;
  font-family: lato;
  color: white;
  background-color: red;
}

.main-title:hover {
  background: rgb(124, 99, 99);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(158, 15, 15, 0.558) 100%);
  color: white;
  transition: 0.9s;
}

.input-question {
  display: none;
}

.box-text {
  text-align: center;
  margin-top: 50px;
  font-family: lato;
  color: red;
}

.input-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 10px;
}

.text-area-input {
  text-align: center;
  width: 500px;
  height: 200px;
  align-content: center;
  border-radius: 10px;
  border-color: rgb(192, 4, 4);
}

button {
  height: 50px;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #ed0000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: white;
  color: red;
  transition: 0.5s;
}

button:active {
  background-color: red;
  color: white;
}



.text-area {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.text-area-output {
  text-align: center;
  width: 500px;
  height: 200px;
  align-content: center;
  border-radius: 10px;
  border-color: rgb(192, 4, 4);
}